body {
    font-family: 'Gotham', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}
.neon{
    text-shadow: 0 0 10px #51d3d9, 0 0 20px #51d3d9, 0 0 30px #51d3d9 ;
}

header {  
    background-color: #333;
    color: #fff;
    padding: 20px;    
}

h1 {
    color: #fff;
    font-size: 2em;
    margin: 0;
    padding: 20px;
           
}

nav {
    background-color: #444;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a{
    align-self: center;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}



nav a:hover {
    background-color: #ddd;
    color: #000;
}

.container {
   
}

footer {
 
}