body {
    font-family: 'Gotham', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}
.neon{
    text-shadow: 0 0 10px #51d3d9, 0 0 20px #51d3d9, 0 0 30px #51d3d9 ;
}
/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #444;
    color: #fff;
    transition: 0.3s;
    padding-top: 20px;
    z-index: 1001;
    
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
    text-align: center;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #51d3d9;
    color: #333;
    border-radius: 5px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.open-btn {
    margin: 20px;    
    background-color: #51d3d9;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1001;
}

.open-btn:hover {
    background-color: #333;
    color: #51d3d9;
}
.sidebar.active ~ .open-btn {
    opacity: 0;
    pointer-events: none;
}
/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}
.icon{
    width: 150px;
    margin: 0;
}

header {  
    background-color: #333;
    color: #fff;
    padding: 20px;    
}
.navbar {
    position: fixed;
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 2em;
    margin: 0;
    padding: 20px;
           
}

nav {
    background-color: #444;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a{
    align-self: center;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}



nav a:hover {
    border-radius: 5px;
    background-color: #51d3d9;
    color: #fff;
}
img.logo {   
    margin-top: 40px; 
    width: 350px;
}
.main {
    padding: 60px 20px;
    font-size: 1.2em;
     
}
.target {
    padding: 20px;
    color: #fff;
    text-align: center;
}
.btn_service{
    background-color: #51d3d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.btn_service:hover {
    background-color: #333;
    color: #51d3d9;
}

.container {
   background-color: #fff;
   text-align: center;
   padding: 30px;
   color: #333;
   font-size: 1.2em;
}
.contact{
    background-color: #333;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 1.5em;
}
.content{
    margin: 50px;
}


.footer {
 background-color: #202020;
}

@media (min-width: 750px){
      
    .cards{
        display: flex;
        justify-content: space-between;
    }
    .service {
        padding: 20px;
        text-align: center;
        max-width: 300px;
    }
    .conct{
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 1000px){
    .nav_bar {
        font-size: 1.5em;
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
    }
    .main {
        font-size: 1.5em;
        display: flex;
        justify-content: space-around;
    }
    
}


